.choose-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.choose-image-box {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.choose-image-box .icon-box {
    font-size: 50px;
    display: inline-block;
    padding: 15px;
    background: var(--title-color);
    border-radius: 5px;
    color: var(--white-color);
    position: relative;
    z-index: 1;
    transition: all 500ms ease;
    position: absolute;
    top: -50px;
}

.choose-image-box:hover .icon-box:before {
    height: 100%;
}

.choose-image-box .icon-box:before {
    position: absolute;
    content: '';
    background: var(--theme-color);
    width: 100%;
    height: 0%;
    left: 0px;
    top: 0px;
    z-index: -1;
    border-radius: 5px;
    transition: all 500ms ease;
}

.choose-image-box .content {
    position: absolute;
    background: var(--white-color);
    padding: 45px 40px 20px 40px;
    right: 20px;
    left: 20px;
    bottom: 0;
    border-radius: 5px 5px 0px 0px;
    transition: all 500ms ease;
}

.choose-image-box  span.number-text {
    color: #F3F3F3;
    font-size: 100px;
    font-family: Teko;
    font-weight: 600;
    position: absolute;
    right: 18px;
    top: 40px;
}

.choose-image-box .content h3 a {
    font-size: 30px;
    color: var(--title-color);
    margin-bottom: 10px;
}

.choose-image-box .content h3:hover a {
    color: var(--theme-color);
}

.choose-image-box .content p {
    margin-top: 10px;
    padding-right: 20px;
    position: absolute;
    transform: scale(1, 0);
    transform-origin: top;
    opacity: 0;
    transition: all 500ms ease;
}

.choose-image-box:hover .content p {
    opacity: 1;
    transform: scale(1);
}

.choose-image-box:hover .content {
    padding-bottom: 100px;
}

.choose-image-box img {
    width: 100%;
    border-radius: 10px;
    transition: all 500ms ease;
}

.choose-image-box:hover img {
    transform: scale(1.1);
}

/* choose-section-3 */

.choose-section.three {
    background: var(--secondary-color);
    position: relative;
}

.choose-section.three .shape-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.choose-section.three .sec-title {
    color: #fff;
}

/* choose-section-3-1 */

.choose-section-3-1 {
    background-color: #1f1f1f;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
}

.choose-section-3-1 .sec-title {
    color: #fff;
}

.choose-3-1-icon-box {
    padding: 20px 28px 20px 28px;
    background: #1f1f1f;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: var(--secondery, #1F1F1F);
}

.choose-3-1-icon-box .icon-1 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
}

.choose-3-1-icon-box .icon-1 i {
    font-size: 25px;
    padding: 30px;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
}

.choose-3-1-icon-box .icon-1:hover i {
    border: 1px solid var(--theme-color);
    background: var(--theme-color);
}

.choose-3-1-icon-box .icon-1 h4 {
    margin-left: 15px;
    color: var(--white-color);
    font-size: 20px;
    line-height: 1.5em;
    transition: all 500ms ease !important;
}

.choose-3-1-icon-box .icon-1:hover h4 {
   color: var(--theme-color);
}

.choose-3-1-icon-box p {
    color: var(--white-color);
    font-size: 14px;
}

.choose-section-3-1 .shape-1 {
    position: absolute;
    top: 25px;
    right: 105px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    -webkit-animation: pulse 3s infinite linear;
    animation: pulse 3s infinite linear;
}

.choose-section-3-1 figure.image {
    position: absolute;
    left: 0;
    top: 70px;
    display: block;
    overflow: hidden;
}

.choose-section-3-1 figure.image img{
    border-radius: 5px;
}

.choose-section-3-1 figure.image:before {
    position: absolute;
    top: 0px;
    left: -95%;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}

.choose-section-3-1:hover figure.image:before {
    animation: shine 1s;
}



@media only screen and (max-width: 1439px){

    .choose-section-3-1 figure.image {
        position: relative;
        top: 0;
    }

    .choose-section-3-1 .shape-1 {
        display: none;
    }

    .choose-image-box  span.number-text {
        font-size: 70px;
        top: 30px;
    }

} 

@media only screen and (max-width: 991px){

    .choose-section-3-1 figure.image {
        display: none;
    }

    .about-content .icon-box {
        text-align: left;
    }

    .choose-section-3-1 {
       margin-bottom: 0;
    }

    .text-slide h3 {
        font-size: 20px !important;
    }

}  

/* text-slide */

.text-slide{
    background: var(--theme-color);
    padding: 30px 0;    
}

.text-slide h3{
    color: var(--white-color);
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}


