.feature-section{
    background-repeat: no-repeat;
    background-position: top right;
}

.feature {
    position: relative;
}

.feature .image img {
    width: 100%;
    border-radius: 5px;
}

.feature .content-1 h3 {
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3em;
    color: var(--white-color);
}

.feature .content-1 {
    padding: 35px 50px 30px 45px;
    background: var(--theme-color);
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;
    height: 141px;
    border-radius: 5px 5px 0px 0px;
    transition: all 500ms ease;    
}

.feature:hover .content-1 {
    opacity: 0;
    height: 0;
    transition: all 500ms ease; 
}

.feature .content-2 {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    border-radius: 5px 5px 0px 0px;
    background: rgba(31, 31, 31, 0.90);
    padding: 45px 30px 30px 30px;
    opacity: 0;
    transition: all 700ms ease;
    visibility: hidden;
    transform: scale(0);
    transform-origin: bottom;
}

.feature li.icon {
    font-size: 40px;
    padding: 15px;
    background: var(--theme-color);
    color: var(--white-color);
    border-radius: 5px;
}

.feature ul.icon-box {
    display: flex;
    align-items: center;
}

.feature li.icon-text {
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3em;
    color: var(--white-color);
    margin-left: 15px;
}

.feature p.text {
    color: var(--white-color);
    padding: 15px 0;
}

.feature:hover .content-2 {
    opacity: 1;
    visibility: visible;
    transform: scale(1,1);
}


/* feature-section-3 */

.feature-section-3 {
    position: relative;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #1f1f1f;
    padding: 100px 0;
}

.feature-section-3 .shape-1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;   
    background-position: top right;    
}

.feature-section-3 .title-box.text-center .line-box .line-1,
.feature-section-3 .title-box.text-center .line-box .line-3{
    right: 115px;
}

.feature-section-3 .title-box.text-center .line-box .line-2{
    right: 123px;
}

.feature-section-3 .sec-title{
    color: #fff;
}

.feature-box-3 {
    position: relative;
    padding: 45px 45px 100px 45px;
    background: #1F1F1F;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.feature-box-3 .icon-box {
    font-size: 80px;
    color: #fff;
    margin-bottom: 23px;
    transition: all 500ms ease;
}

.feature-box-3:hover .icon-box{
    color: var(--theme-color);
}

.feature-box-3 p.text {
    color: #fff;
    margin-bottom: 25px;
}

.feature-box-3 ul.feature-list li {
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}

.feature-box-3 h3 {
    font-size: 30px;
    line-height: 1.3em;
    color: #fff;
    margin-bottom: 10px;
}

.feature-box-3 ul.feature-list li:before {
    content: "\f112";
    font-family: 'flaticon_bizgenius';
    position: absolute;
    margin-right: 10px;
    transform: rotate(45deg);
    left: -25px;
    top: 0;
    font-size: 14px;
    color: var(--theme-color);
}

.feature-box-3 ul.feature-list {
    margin-left: 25px;
}

.feature-box-3 .plus-btn {
    display: inline-block;
    padding: 8px;
    font-size: 24px;
    color: #fff;
    background: #2B2B2B;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    line-height: 0;
    transition: all 500ms ease;
}

.feature-box-3:hover .plus-btn{
    background: var(--theme-color);
}

.feature-box-3 .plus-btn:hover{
    background: #2B2B2B;
}

.feature-box-3:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    content: "";
    transition: all 700ms ease;
}

.feature-box-3:hover:before {
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--theme-color);
    border-top: 1px solid var(--theme-color);
}

.feature-box-3:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 0%;
    content: "";
    transition: all 700ms ease;
}

.feature-box-3:hover:after {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--theme-color);
    border-bottom: 1px solid var(--theme-color);
}


/* inner pages
feature page */

section.service-section.four {
    padding: 140px 0;
    background-color: #fff;
}

section.service-section.four::before {
    background: #fff;
}

@media only screen and (max-width: 1148px){

    .feature .content-1 {
        height: auto;
    }

    .feature .content-2 {
        height: 100%;
    }

  }

@media only screen and (max-width: 768px){
    .feature li.icon-text {
        font-size: 22px;
    }

    .feature .content-1 h3 {
        font-size: 26px;
    }
  }

  @media only screen and (max-width: 767px){
    .feature .content-2 {
        height: auto;
    }
  }
  
  @media only screen and (max-width: 375px){
    .feature .content-2 {
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
    .feature .content-1 {
        padding: 25px;
    }
  }
  