.project-section {
    background: #F2F3F6;
    transition: all 500ms ease;
    position: relative;
}

.projects .image {
    position: relative;
    border-radius: 15px;
    transition: all 500ms ease;
}

.projects .image img {
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.projects .image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-radius: 15px;
    z-index: 1;
    transition: all 500ms ease;
}

.projects:hover .image:before {
    height: 100%;
    background: linear-gradient(214deg, rgba(31, 31, 31, 0.70) 0%, rgba(31, 31, 31, 0.00) 100%);
}

.projects {
    transition: all 500ms ease;
    position: relative;
}

.projects .content-box {
    background: var(--theme-color);
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    padding: 30px 40px;
    bottom: 0;
    right: 60px;
    left: 60px;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: all 500ms ease;
}

.projects:hover .content-box {
    visibility: visible;
    opacity: 1;
    transition: all 500ms ease;
}

.projects .content-box h6 {
    font-size: 16px;
    font-weight: 300;
    color: var(--white-color);
    margin-bottom: 10px;
}

.projects .content-box h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--white-color);
}

.projects .icon-box {
    position: relative;
}

.projects .icon-box i {
    background: var(--white-color);
    color: var(--secondary-color);
    padding: 12px 12px;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top: -50px;
    right: -65px;
    line-height: 20px;
    transition: all 500ms ease;
}

.projects .icon-box i:hover {
    color: var(--theme-color);
}

.project-section .owl-nav {
    position: absolute;
    top: -100px;
    right: 430px;
}

.project-section .owl-nav i {
    background: var(--white-color);
    padding: 10px 13px 7px 13px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 0px;
    margin-right: 10px;
}

.project-section .owl-nav .flaticon-left:hover {
    background: var(--theme-color);
    color: var(--white-color);
    transition: all 500ms ease;
}

.project-section .owl-nav .flaticon-right-arrow:hover {
    background: var(--theme-color);
    color: var(--white-color);
    transition: all 500ms ease;
}

/* .project-section.two */

section.project-section.two {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    background-color: #1F1F1F;
}

section.project-section.two .title-box h2 {
    color: #fff;
}

section.project-section.two .title-box p {
    color: #fff;
}

.project-section.two .project-column{
    margin-right: -310px;
    margin-left: -92px;
    position: relative;
}

.project-section.two .projects .content-box {
    background: var(--theme-color);
    right: 20px;
    left: 20px;
    text-align: center;
}

.project-section.two .projects .content-box h4:hover a{
    color: var(--secondary-color);
}

.project-section.two .title-box {
    margin-right: 110px;
}

.project-section.two  .project-column .owl-nav {
    position: absolute;
    bottom: 80px;
    top: inherit;
    left: -565px;
}

.project-section.two .shape {
    position: absolute;
    top: -100px;
    left: 53%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.project-section.two .projects:hover .image:before {
    height: 100%;
    background: linear-gradient(214deg, rgba(31, 31, 31, 0.70) 0%, rgba(31, 31, 31, 0.00) 100%);
}

.project-section.two .owl-nav i {
    background: rgba(255, 255, 255, 0.10);
    color: #fff;
}


/* .project-section-3 */

.project-section.three{
    background: #fff;
}

.project-section.three .owl-item.active:nth-child(odd) {
    padding: 50px 0;
}   

.project-section.three .owl-nav i {
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,.1);
}


/* inner-page
portfolio-section-page */

.portfolio-image-box {
    position: relative;
}

.portfolio-image-box .content {
    padding: 60px 60px 50px 60px;
    background: var(--theme-color);
    border-radius: 10px;
    position: absolute;
    bottom: -90px;
    right: 220px;
    left: 200px;
}

.portfolio-image-box ul.content-list li span {
    color: var(--white-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}

.portfolio-image-box ul.content-list h3 {
    color: var(--white-color);
    text-align: center;
    font-size: 30px;
    line-height: 1.5em;
}

.portfolio-image-box ul.content-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2.portfolio-title-1 {
    font-size: 50px;
    line-height: 1.7em;
}

h3.portfolio-title-2 {
    font-size: 30px;
    line-height: 1.5em;
}

.portfolio-pagination ul.pagination-list {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    border-top: 1px solid rgba(234, 234, 234, 1);
    border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.portfolio-pagination ul.pagination-list li {
    color: var(--secondary-color);
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5em;
    text-transform: uppercase;
    transition: all 500ms ease;
}

.portfolio-pagination ul.pagination-list li:hover {
    color: var(--theme-color);
}



/* responsive */

@media only screen and (max-width: 1350px){

    .project-section.two .project-column {
        margin-right: 0;
        margin-left: 0;
    }

    .project-section.two .project-column .owl-nav {
        display: none;
    }
  
  }

  @media only screen and (max-width: 991px){

    .portfolio-image-box .content {
        padding: 30px;
        right: 100px;
        left: 100px;
    }
  
  }

@media only screen and (max-width: 768px){

    .project-section .owl-nav {
       display: none;
    }

    .project-section.two .title-box {
        margin-right: 0px;
    }

    .portfolio-content-area {
        margin-top: 120px;
    }

    h2.portfolio-title-1 {
        font-size: 30px;
    }

    .portfolio-image-box ul.content-list h3 {
        font-size: 20px;
    }

    .portfolio-pagination {
        padding: 50px 20px;
    }
  
  }


  @media only screen and (max-width: 425px){

    .client-section .client-carousel {
       padding: 50px 0;
    }

    .portfolio-image-box .content {
        padding: 30px;
        right: 0;
        left: 0;
    }

    .portfolio-image-box ul.content-list h3 {
        font-size: 16px;
    }

    .portfolio-image-box ul.content-list li span {
        font-size: 12px;
    }

    section.project-section.three {
        padding-top: 50px;
    }
  
  }