.about-section{
    padding: 140px 0 85px 0;
}

.about-image {
    position: relative;
}
.about-section .video-box img {
    position: absolute;
    bottom: 0;
    right: -15px;
    z-index: 2;
    border-radius: 141.5px;
}

.about-section figure.image {
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    overflow: hidden;
}

.about-section figure.image img{
    border-radius: 220px;
}

.about-section figure.image:before {
  position: absolute;
  top: 0;
  left: -75%;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.about-section .about-image:hover figure.image:before {
    animation: shine 1s;
}


@-webkit-keyframes shine {
    100% {
      left: 125%;
    }
  }
  
  @keyframes shine {
    100% {
      left: 125%;
    }
  }


.about-section .video-box {
    position: relative;
    display: block;
}

.about-section .play-btn h6 {
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
    font-family: Teko;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 2.8px;
    margin-top: 10px;
}

.about-section .video-box .play-btn {
    position: absolute;
    right: 75px;
    bottom: 135px;
    text-align: center;
    display: inline-block;
    z-index: 2;
}

.about-section .play-btn a {
    background: var(--theme-color);
    padding: 10px 12px 4px 12px;
    border-radius: 50%;
    font-size: 32px;
    color: var(--white-color);
    z-index: 3;
    position: relative;
}

.about-section .shape-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    left: 20px;
    top: -10px;
    display: inline-block;
    z-index: 2;
    -webkit-animation: bounce 6s infinite linear;
    animation: bounce 6s infinite linear;
}

.about-section .shape-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    left: -25px;
    top: -10px;
    display: inline-block;
    z-index: 1;
    -webkit-animation: pulse 6s infinite linear;
    animation: pulse 6s infinite linear;
    
}

.about-section .shape-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom left;
    left: -10px;
    top: 90px;
    display: inline-block;
    -webkit-animation: pulse 6s infinite linear;
    animation: pulse 6s infinite linear;
}

.about-section .sec-title span {
    color: var(--theme-color);
}

.about-section .sec-title {
    margin-bottom: 20px;
    font-weight: 600;
}

ul.about-list li {
    position: relative;
    padding-left: 40px;
    font-size: 20px;
    font-family: var(--title-font);
    color: var(--secondary-color);
    margin-bottom: 15px;
}

ul.about-list li:before {
    position: absolute;
    content: "\f116";
    left: 0px;
    top: 0px;
    width: 25px;
    height: 25px;
    font-family: 'flaticon_bizgenius';
    border-radius: 50%;
    color: var(--white-color);
    background: var(--text-color);
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}

.about-content p {
    margin-bottom: 35px;
}

.about-content {
    padding-left: 110px;
}

.about-content .icon-box h6 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-top: 5px;
}

.about-content .icon-box {
    text-align: right;
}

.about-content .icon-box i {
    font-size: 40px;
    color: var(--theme-color);
}

.about-content .icon-box .inner {
    position: relative;
    padding: 20px 40px;
    border-radius: 10px;
    border-bottom: 4px solid var(--theme-color);
    background: var(--light-gray);
    display: inline-block;
    text-align: center;
}

.about-content .icon-box .inner:before {
    content: "";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #F5F5F5;
    z-index: -1;
}

.about-content .upper-col {
    padding-bottom: 25px;
    border-bottom: 1px solid #F0F0F0;
}

.about-content .lower-col{
    padding-top: 25px;
}

.about-content .btn-box {
    margin-top: 7px;
}

.about-content .lower-col .icon-box {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    line-height: 1.5em;
    margin-left: 15px;
}

.about-content .lower-col .icon-box .content {
    margin-left: 15px;
    text-align: left;
}

.about-content .lower-col .icon-box .content h5 {
    margin-top: 10px;
}

.about-content .lower-col .icon-box .content span{
    color: var(--secondary-color)
}

.valorwide_player_btn {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 12px 0px 6px 0;
}

.valorwide_player_btn:hover a {
    background: var(--white-color);
    color: var(--theme-color);
}

.valorwide_player_btn:before, .valorwide_player_btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--theme-color);
    opacity: 0.4;
    border-radius: 50%;
  }
  .valorwide_player_btn:before {
    z-index: 0;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
            animation: pulse-border 1500ms ease-out infinite;
  }
  .valorwide_player_btn:after {
    z-index: 1;
    -webkit-transition: all 200ms;
    transition: all 200ms;
  }
 
  
  @-webkit-keyframes pulse-border {
    0% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
  
  @keyframes pulse-border {
    0% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
              transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }



/* about-section-2 */

.about-section-2 {
    position: relative;
}

.about-section-2 .left-column {
    position: relative;
    padding-right: 47px;
}

.about-section-2 .shape {
    position: absolute;
    bottom: 30px;
    right: 80px;
    left: 80px;
}

.about-section-2 figure.image {
    position: relative;
    z-index: 2;
    display: block;
    overflow: hidden;
}

.about-section-2 figure.image:before {
    position: absolute;
    top: 0;
    left: -75%;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  
  .about-section-2:hover figure.image:before {
      animation: shine 1s;
  }

.about-section-2 figure.image img {
    width: 100%;
}

.about-section-2 .bg-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 51px);
}

.about-section-2 .right-column {
    padding-left: 47px;
    padding-top: 45px;
}

.about-section-2 .right-column p {
    padding: 20px 0 40px;
}

.about-section-2 .right-column span {
    color: var(--theme-color);
}


/* about-section-3 */

.about-section-3 .about-content {
    padding-left: 0;
}

.about-section-3 figure.image-1,
.about-section-3 figure.image-2{
    position: relative;
    display: block;
    overflow: hidden;
}

.about-section-3 figure.image-1:before,
.about-section-3 figure.image-2:before{
    position: absolute;
    top: 0;
    left: -95%;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  
.about-section-3:hover figure.image-1:before,
.about-section-3:hover figure.image-2:before{
      animation: shine 1s;
  }

.about-section-3 figure.image-1 img,
.about-section-3 figure.image-2 img{
    width: 100%;
    border-radius: 5px;
}

.about-section-3 .image-box {
    position: relative;
}

.about-section-3 .shape-1 {
    position: absolute;
    top: -75px;
    right: -150px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-animation: pulse  6s infinite linear;
    animation: pulse  6s infinite linear;
}

.about-section-3 .shape-2 {
    position: absolute;
    bottom: -350px;
    right: -110px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-animation: swing  6s infinite linear;
    animation: swing  6s infinite linear;
}

.about-section-3 figure.image-1 {
    padding: 12px;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
}


/* Responsive */

@media only screen and (max-width: 1079px){

    .about-section-2 .about-2 {
       display: none;
    }

    .about-section-2 .bg-image{
        height: 100%;
    }

    .about-section-2 .right-column {
        padding: 50px 0;
    }

    .about-section-2 .right-column p {
        padding: 20px 0 20px;
    }

  }

@media only screen and (max-width: 991px){

    .about-section figure.image {
        text-align: center;
        padding-right: 85px;
    }
    
    .about-section .video-box img {
        right: 90px;
    }
    
    .about-section .video-box .play-btn {
        right: 175px;
    }
    
    .about-section .shape-1 {
        left: -45px;
    }
    
    .about-section .shape-2 {
        left: -90px;
    }
    
    .about-section .shape-3 {
        left: 145px;
        top: 50px;
    }
    
    .about-image {
        margin-bottom: 100px;
    }

    .about-content {
        padding-left: 0;
    }

    .about-section-3 .image-box-column {
        display: none !important;
    }

    .about-section-3 figure.image-2{
        margin-bottom: 20px;
    }
  
  }

  @media only screen and (max-width: 767px){

    .about-section .shape-1 {
        display: none;
    }

    .about-image {
        margin-bottom: 50px;
    }

    .about-content .icon-box {
        float: left;
        margin-top: 30px;
    }

  }

  @media only screen and (max-width: 635px){

    .about-section figure.image {
        padding-right: 0px;
    }
    .about-section .video-box img {
        display: none;
    }
    .about-section .video-box .play-btn {
        right: 200px;
        left: 200px;
    }

  }

  @media only screen and (max-width: 538px){

    .about-section .video-box .play-btn {
        right: 100px;
        left: 100px;
    }

  }
