.faq-section {
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
}

.faq-section .line-1 {
  right: 130px !important;
}

.faq-section .line-2 {
  right: 138px !important;
}

.faq-section .line-3 {
  right: 130px !important;
}

.faq-icon-box {
display: flex;
align-items: center;
margin: 60px 0;
}

.faq-icon-box i {
padding: 27px;
background: var(--secondary-color);
border-radius: 50%;
height: 80px;
width: 80px;
color: var(--white-color);
font-size: 24px;
margin-right: 20px;
}

.faq-icon-box .content h5 {
margin-bottom: 10px;
font-size: 20px;
font-weight: 600;
}

.faq-section .image img {
  width: 100%;
  border-radius: 208px;
}

.faq-section figure.image {
  position: relative;
}

.faq-section figure.image:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.faq-section figure.image:hover:before {
  -webkit-animation: circle .95s;
  animation: circle .95s;
}

.circle-main {text-align: center;height: 230px;width: 230px;display: block;background: var(--theme-color);border-radius: 50%;margin: 0 auto;margin-top: -200px;position: relative;padding: 10px;}

.circle-main .circle h1 {font-size: 100px;font-weight: 600;line-height: 1.8em;padding-top: 20px;color: var(--white-color);}

.circle-main:before {
  content: "";
  position: absolute;
  height: 210px;
  width: 210px;
  border-radius: 50%;
  border: 1px dashed #fff;
  top: 10px;
  right: 10px;
}

.round-text {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.round-text .text_1{
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 20s linear infinite;
  top: -196px;
  right: -5px;
}

@keyframes anim {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.text_1 span{
  position: absolute;
  left: 50%;
  transform-origin: 0 100px;
}

.text_1 .text_2 {
  font-size: 16px;
  font-family: var(--title-font);
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

/* accordion */

.accordion{
    position: relative;
    background: #FFFFFF;
    margin-bottom: 20px;
  }
  
  .accordion:last-child{
    margin-bottom: 0px;
  }
  
  .accordion .acc-btn{
    position: relative;
    padding: 21px 80px 21px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #E1E2E7;
    background: #F2F3F6;
  }
  
  .accordion .acc-btn h4{
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 28px;
  }
  
  .accordion .acc-btn .icon-box{
    position: absolute;
    top: 26px;
    right: 30px;
    font-size: 15px;
    color: #222;
    cursor: pointer;
    transition: all 500ms ease;
  }
  
  .accordion .acc-btn.active{
    border: none;
    background: #fff;
    padding-bottom: 0;
  } 
  
  .accordion .acc-content{
    padding: 10px 25px 30px 30px;
  }
  
  .accordion .acc-content p{
    color: var(--text-color);
  }
  
  .accordion .acc-btn.active .icon-box i{
    display: none;
  }
  
  .accordion .acc-btn.active .icon-box:before{
    position: absolute;
    content: '\f134';
    font-family: "flaticon_bizgenius";
    font-size: 20px;
    top: -5px;
    right: 0px;
    opacity: 0;
  }
  
  .accordion .acc-btn.active .icon-box:before{
    opacity: 1;
  }

  li.accordion.block.active-block {
    border-radius: 5px;
    border: 1px solid #E1E2E7;
}

.accordion .acc-btn.active h4{
  color: var(--theme-color);
}
ul.accordion-box {
  margin-top: 60px;
}

/* faq-section-2 */

.faq-section.two .line-1,
.faq-section.two .line-2,
.faq-section.two .line-3 {
  right: inherit !important;
}

.faq-section.two ul.accordion-box {
  margin-top: 0;
}

.faq-section.two .circle-main {
  margin: 0;
}

.faq-section.two .shape {
  position: absolute;
  bottom: 0;
  left: 240px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
 -webkit-animation: swing 6s infinite linear;
  animation: swing 6s infinite linear;
}

/* faq-section-three */

.faq.service-icon-box {
  padding: 10px 0px 10px 20px;
  background: #F5F5F5;
  border-bottom: none;
  box-shadow: none;
}

.faq.service-icon-box .icon-box {
  margin-bottom: 0px;
}

.faq.service-icon-box .icon-box-inner {
  background: #FFF;
}

.faq-section-3 .btn-box{
  margin-top: 40px;
}


.faq-3-image-box {
  position: relative;
}

.faq-3-inner .icon-box i {
  font-size: 50px;
  color: var(--theme-color);
}

.faq-3-inner .icon-box {
  padding: 38px;
  display: flex;
  align-items: center;
  background: var(--secondary-color);
  max-width: 230px;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.faq-3-inner .icon-box h5 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 20px;
}

.faq-3-inner {
  position: relative;
}

.faq-3-inner figure.image-1 {
  text-align: right;
  margin-bottom: 20px;
}

.faq-3-inner figure.image-1 img{
 border-radius: 5px;
}

.faq-3-inner .shape-1 {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.faq-3-image-box figure.image-2 {
  position: relative;
}

.faq-3-image-box figure.image-2 img{
  border-radius: 5px;
}

.faq-3-image-box .shape-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.faq-3-image-box .shape-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
}


/* reponsive */

@media only screen and (max-width: 768px){

  .faq-icon-box i {
    padding: 12px;
    height: 50px;
    width: 50px;
}
  
}

@media only screen and (max-width: 991px){

  .faq-section.two .shape{
    display: none;
  }

  .faq-3-inner figure.image-1 {
    margin-top: 20px;
}

.faq-3-image-box figure img{
  width: 100%;
}

.faq-section.two .circle-main {
  margin: 0 auto;
}

.faq-section.two .image img {
width: 100%;
padding: 20px 0;
}
  
}

