.testimonials-section {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.testimonials-section .title-box.text-center .line-box .line-1 {
    right: 85px;
}

.testimonials-section .title-box.text-center .line-box .line-2 {
    right: 93px;
}

.testimonials-section .title-box.text-center .line-box .line-3 {
    right: 85px;
}

.testimonial-block-one {
    position: relative;
    background-repeat: no-repeat !important;
    background-position: right top !important;
    border-radius: 10px;
    background: var(--white-color);
    box-shadow: 0px 4px 60px 0px rgba(160, 160, 160, 0.10);
    padding: 80px 60px 35px 50px;
}

.testimonial-block-one figure.thumb-box img {
    border-radius: 50%;
    border: 2px solid var(--text-color);
}

.testimonial-block-one .info-box h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3em;
}

.testimonial-block-one .inner-box {
    display: flex;
}

.testimonial-block-one .info-box h5 {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
}

.testimonial-block-one .info-box {
    margin-left: 40px;
    margin-top: 20px;
}

.testimonial-block-one .icon-box {
    font-size: 72px;
    color: rgba(102,102,102,0.2);
    text-align: right;
}

.testimonial-block-one .info-box p {
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* responsive */

@media only screen and (max-width: 545px){

    .testimonial-block-one {
        padding: 30px;
    }

    .testimonial-block-one .inner-box {
        flex-direction: column;
    }

    .testimonial-block-one .info-box {
        margin-left: 0;
    }

    .testimonials-section {
        padding-bottom: 50px;
    }
    
  }


